[CORE]
PROJECT_PATH=/home/dtn/sb-guided-capstone
APP_NAME="Equity Market Data Analysis"
[DATABASE]
HOST=localhost
PORT=5432
DATABASE=sbstock
PG_USER=root
PG_PASSWORD=12345678

[DATA]
SOURCE_DATA_FILE=stock.csv

PARTITION_PATH=output_partitions
#PARQUET_WRITE_MODE=append
PARQUET_WRITE_MODE=overwrite
PARTITION_LABEL=partition

DAILY_DATA_PATH=daily_data
DAILY_DATA_PREFIX=trade-dt
ANALYTIC_DATA_PATH=analytic_data
ANALYTIC_DATA_PREFIX=date